<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170100705451-mvgpk6m1onu5ti6oh83uh6tebvfspccj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170100705451-mvgpk6m1onu5ti6oh83uh6tebvfspccj</string>
	<key>API_KEY</key>
	<string>AIzaSyAboS4xHB7ZpBzHYMbucVktrjOXEHohCQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>170100705451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saurabh7071.finch</string>
	<key>PROJECT_ID</key>
	<string>finch-fec9f</string>
	<key>STORAGE_BUCKET</key>
	<string>finch-fec9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170100705451:ios:7db6607392c1c496e20fee</string>
</dict>
</plist>